@import 'tailwindcss';

@theme inline {
	--font-sans: 'Geist', sans-serif;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

:root {
	--background: #fff;
	--foreground: #000;
}

@utility section {
	@apply mx-auto max-w-7xl;
}

@utility prose {
	@apply space-y-4 leading-relaxed;
}
