@import 'tailwindcss';

@theme inline {
	--font-sans: 'Geist', sans-serif;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@layer base {
	:root {
		--background: #fff;
		--foreground: #000;
	}

	summary {
		cursor: pointer;
	}
}

/* components */

@utility section {
	@apply mx-auto max-w-7xl;
}

@utility prose {
	@apply space-y-4 leading-relaxed;

	& a {
		@apply link;
	}
}

@utility link {
	@apply underline hover:decoration-2;
}
